* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* UTILITY */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.section-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
  width: 57vw;
  height: 100vh;
}

.showcase {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.leftside {
  flex-flow: row nowrap;
}

.rightside {
  flex-flow: row nowrap;
}

.btn {
  background: rgb(179, 137, 84);
  padding: 10px;
  border-radius: 15px;
  border-style: outset;
}

.btn-sm {
  font-size: 14px;
  padding: 5px;
}

.btn-lg {
  font-size: 20px;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  flex-flow: row nowrap;
  background-image: url('../images/banner_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 33%;
  width: 100%;
  height: 150px;
}

header h1 {
  padding: 30px;
}

.logo {
  font-family: Merienda, cursive;
}

/* NAVIGATION */

.navbar {
  background: rgb(179, 137, 84);
  width: 100%;
  height: 45px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.navbar li {
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 50%;
  margin: 0;
  padding: 10px;
}

.navbar a {
  color: black;
}

/* MAIN */

section {
  background: rgb(214, 214, 214);
  width: 33vw;
  height: 35vh;
  margin-bottom: 5px;
  padding: 10px;
}

section ul {
  list-style-type: none;
}

aside {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url('../images/side_image.jpg') no-repeat center/cover;
  color: #fff;
  width: 23vw;
  height: 100%;
  padding: 10px;
  box-shadow: 0px 10px 20px -5px #5c5c5c;
}

aside p {
  position: relative;
  bottom: -12vh;
  text-align: center;
}

/* FORM */

.form-control {
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.form-item {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
}

input:focus {
  outline: none;
}

#scndimg {
  width: 40%;
  height: auto;
}

/* SERVICES */

.card-container {
  background: rgb(214, 214, 214, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.card-info {
  background: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.card-item-sm {
  background: green;
  width: 40%;
  height: auto;
  padding: 5px 0;
}

.card-item-lg {
  background: purple;
  width: 60%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: row nowrap;
  background: rgb(214, 214, 214);
  width: 57vw;
  margin-top: 5px;
  padding: 10px;
  text-align: right;
}

/* MEDIA QUERIES - RESPONSIVENESS */

@media only screen and (min-width: 550px) and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .section-container {
    display: flex;
    flex-flow: column nowrap;
    width: 70vw;
    height: 100%;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .leftside {
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
  }

  .rightside {
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
  }

  section,
  aside {
    width: 100%;
    height: 30vh;
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
    background: rgb(214, 214, 214);
    width: 70vw;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .section-container {
    display: flex;
    flex-flow: column nowrap;
    width: 90vw;
    height: 100%;
  }

  .showcase {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .leftside {
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }

  .rightside {
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }

  section,
  aside {
    width: 100%;
    height: 38vh;
  }

  footer {
    flex-flow: column nowrap;
    align-items: stretch;
    background: rgb(214, 214, 214);
    width: 90vw;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
  }
}
