* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* UTILITY */

#container {
  width: 57vw;
  height: 100vh;
  margin: 0 auto;
}

.showcase {
  width: 100%;
  height: 63vh;
}

.leftside {
  float: left;
}

.rightside {
  margin-bottom: 5px;
  float: right;
}

.clearfix {
  clear: both;
}

.btn {
  background: rgb(179, 137, 84);
  padding: 10px;
  border-radius: 15px;
  border-style: outset;
}

.btn-sm {
  font-size: 14px;
  padding: 5px;
}

.btn-lg {
  font-size: 20px;
}

.mx-0 {
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background-image: url('../images/banner_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 33%;
  width: 100%;
  height: 150px;
}

header h1 {
  padding: 30px;
}

.logo {
  font-family: Merienda, cursive;
}

/* NAVIGATION */

#responsive-menu {
  background: rgb(179, 137, 84);
  width: 100%;
  height: 45px;
  display: none;
}

.navbar {
  background: rgb(179, 137, 84);
  width: 100%;
  height: 45px;
  margin: 5px 0;
}

.navbar ul {
  margin: 0;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  margin: 0 35px;
  padding: 10px;
}

.navbar a {
  color: black;
}

/* MAIN */

section {
  background: rgb(214, 214, 214);
  width: 33vw;
  height: 30vh;
  margin-bottom: 5px;
  padding: 10px;
  overflow: hidden;
}

section ul {
  list-style-type: none;
}

aside {
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgb(128, 128, 128, 0.5)),
    url('../images/side_image.jpg') no-repeat center/cover;
  color: #fff;
  width: 23vw;
  height: 62vh;
  padding: 10px;
  box-shadow: 0px 10px 20px -5px #5c5c5c;
}

aside p {
  position: relative;
  bottom: -12vh;
  text-align: center;
}

/* FORM */

.form-control {
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.form-item {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
}

input:focus {
  outline: none;
}

#scndimg {
  width: 40%;
  height: auto;
}

/* SERVICES */
.card-container {
  background: rgb(214, 214, 214, 0.2);
  max-width: 100%;
  min-height: 65vh;
  margin: 0;
  padding: 10px;
}

.card-header {
  width: auto;
  height: 15vh;
}

.card-info {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.card-item-sm {
  display: inline-block;
  width: 30%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
}

.card-item-lg {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
}

/* FOOTER */

footer {
  background: rgb(214, 214, 214);
  width: 100%;
  padding: 10px;
  text-align: right;
}

/* Media Query for smaller screen navigation responsiveness */
@media only screen and (max-width: 1400px) {
  #responsive-menu {
    display: block;
    background: rgb(179, 137, 84);
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    height: 45px;
  }

  .navbar {
    background: rgb(179, 137, 84);
    padding: 0;
    width: 100%;
    height: auto;
  }

  .navbar ul {
    display: none;
    padding: 0;
    list-style-type: none;
  }

  .navbar:hover ul {
    display: block;
  }

  .navbar li {
    display: block;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
  }
}

@media only screen and (max-width: 1240px) {
  header h1 {
    padding: 15px;
  }

  #responsive-menu {
    display: block;
    background: rgb(179, 137, 84);
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    height: 45px;
  }

  section {
    background: rgb(214, 214, 214);
    width: 100%;
    height: 50vh;
    margin-top: 5px;
    padding: 10px;
  }

  aside {
    background: linear-gradient(
        rgba(128, 128, 128, 0.5),
        rgb(128, 128, 128, 0.5)
      ),
      url('../images/side_image.jpg') no-repeat center/cover;
    color: #fff;
    width: 100%;
    height: 62vh;
    padding: 10px;
    box-shadow: 0px 10px 20px -5px #5c5c5c;
  }
}

/* For Mobile Phone in Portrait Mode */
@media only screen and (max-width: 500px) {
  body {
    font-size: 30px;
  }

  #responsive-menu {
    display: block;
    background: rgb(179, 137, 84);
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    height: 45px;
  }

  #container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  section {
    height: 100vh;
  }

  .rightside,
  aside {
    height: 100vh;
  }

  .leftside,
  .rightside,
  section,
  aside {
    width: 100%;
    margin: 5px 0;
  }
}
