* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ----------------------------FLEXBOX and GRID ------------------------- */

/* Grid Utility Classes */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.grid-container {
  display: grid;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header header header header'
    'section1 section1 aside aside'
    'section2 section2 aside aside'
    'footer footer footer footer';
  max-width: 100vw;
  margin: 0 auto;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
  max-width: 100vw;
  margin: 0 auto;
}

.card-container {
  background: rgb(214, 214, 214);
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repreat(4, 1fr);
  grid-template-areas:
    'cardnav cardnav cardnav cardnav'
    'chead chead chead chead'
    'cinfo1 cinfo2 cinfo3 .'
    'citem1 citem1 citem1 cbutton2'
    'citem2 citem2 citem2 cbutton3'
    '. sbutton sbutton .';
}

/* Flexbox Utility Classes */

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

/* HEADER */

header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.5)), to(rgb(128, 128, 128, 0.5))),
    url('../images/banner_image.jpg');
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgb(128, 128, 128, 0.5)),
    url('../images/banner_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 33%;
  color: rgb(238, 238, 238);
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  height: 150px;
  grid-area: header;
}

header h1 {
  padding: 32px;
}

.logo {
  font-family: Merienda, cursive;
}

/* NAVIGATION */

.navbar {
  background: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  grid-area: navbar;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

.navbar li {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  border-radius: 50px 0 0 50px;
}

.navbar li:hover {
  color: rgb(238, 238, 238);
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(15%, rgba(163, 124, 77, 0.788)),
    color-stop(50%, rgba(131, 100, 61, 0.815)),
    color-stop(75%, rgb(163, 125, 77, 0.788))
  );
  border-radius: 0 50px 50px 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/* MAIN */

main {
  grid-area: main;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

section {
  background: rgb(214, 214, 214);
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
}

section ul {
  list-style-type: none;
}

.aside {
  grid-area: aside;
}

aside {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.5)), to(rgb(128, 128, 128, 0.5))),
    url('../images/side_image.jpg') no-repeat center/cover;
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgb(128, 128, 128, 0.5)),
    url('../images/side_image.jpg') no-repeat center/cover;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 10px 20px -5px rgb(107, 107, 107);
  box-shadow: 0px 10px 20px -5px rgb(107, 107, 107);
}

aside p {
  position: relative;
  bottom: -12vh;
  text-align: center;
}

/* FORM */

.form-control {
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.form-item {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
}

input:focus {
  outline: none;
}

/* SERVICES */

.card-header {
  grid-area: chead;
}

.cardnav {
  background: rgba(179, 136, 84, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: cardnav;
}

.cardnav ul {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 1 0 auto;
  padding: 0;
}

.cardnav li {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 50px 0 0 50px;
}

.card-button-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: cbutton2;
}

.card-button-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: cbutton3;
}

.card-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-area: sbutton;
}

.card-info1 {
  grid-area: cinfo1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-info2 {
  grid-area: cinfo2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-info3 {
  grid-area: cinfo3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-item1 {
  grid-area: citem1;
}

.card-item2 {
  grid-area: citem2;
}

/* FOOTER */

footer {
  background: rgb(214, 214, 214);
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  text-align: right;
  grid-area: footer;
}

/* ----Misc Utility Classes ----------------------------------------------- */

.btn {
  background: rgb(179, 137, 84);
  margin: 0 5px 0 5px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

.btn-sm {
  font-size: 14px;
  padding: 15px;
}

.btn-lg {
  margin: 0;
  font-size: 40px;
}

.max-height {
  height: 100vh;
}

.mx-0 {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  /* Grid Utility Classes */

  .grid-container {
    display: grid;
  }

  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas:
      'header'
      'navbar'
      'section1'
      'section2'
      'aside'
      'footer';
    max-width: 100vw;
    margin: 0 auto;
  }

  /* Flexbox Utility Classes */

  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header {
    height: 100vh;
  }

  aside,
  section {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 700px) {
  /* Grid Utility Classes */

  .grid-container {
    display: grid;
  }

  .home-container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      'header'
      'aside'
      'section2'
      'section1'
      'footer';
    max-width: 100vw;
    margin: 0 auto;
  }

  /* Flexbox Utility Classes */

  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  aside,
  section {
    width: 100%;
    height: 75vh;
  }
}

@media only screen and (max-width: 500px) {
  /* Grid Utility Classes */

  .grid-container {
    display: grid;
  }

  .home-container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      'header'
      'aside'
      'section2'
      'section1'
      'footer';
    max-width: 100vw;
    margin: 0 auto;
  }

  /* Flexbox Utility Classes */

  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  aside,
  section {
    width: 100%;
    height: 75vh;
  }
}
